# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Streamlit
.streamlit/secrets.toml

# Environment Variables & Keys
.env
.env.local

# Vector DB & Local Storage
chroma_db/
chroma_storage/
.chroma/

# IDE / OS
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
